body {
			font-family: 'HelveticaNeue', Arial, Sans-serif;
			background-color: #fff;
			font-size: 19px;
		}

		#main-container {
			background-image: url('../images/background-2015.jpg');
			background-position: center center;

			width: 1200px;
			height: 710px;
			padding-top: 100px;
		}

		#form-holder {
			margin-left: 50px;
			margin-right: 75px;
		}

			#form-holder p {
				text-align: center;
				color: #084e94;
				margin: 0px 0px 30px 0px;
			}		

			#form-holder .subheader {
				font-weight: bold;
				color: #f39c0a;
				font-size: 1.9em;
			}
				#form-holder .subheader sup {
					font-size: 0.75em;
				}

		form {

		}

			form label {
				color: #898989;
			}

			form > .row > div {
				margin-bottom: 5px;
			}

			form .text-input {
				padding-left: 0px;
			}

			form .submit-input {
				margin-top: 15px;
				padding-left: 0px;
			}

			form input[type="text"] {
				width: 100%;
				border-radius: 5px;
				border: solid 1px #898989;
				outline: 0;
				padding-left: 7px;
			}

			form input[type="text"].short {
				padding-left: 3px;
			}

			form input[type="submit"] {
				width: 100%;
				border-radius: 3px;
				border: 0px solid #3866A3;
				background-color: #f19a0d;

				padding: 10px 0px;

				color: #fff;
				display: inline-block;
			}

			form input[type="submit"]:hover {
				background-color: #f3ae3d;
			}

		#messages {
			position: relative;
			top: 130px;
			left: 50px;
			border-radius: 3px;
			background-color: rgba(255,255,255, 0.75);
		}
			#messages ul {
				list-style: none;
				padding: 24px;
			}

				#messages ul li {
					color: red;
				}